<!DOCTYPE html>
<html>
<head>
	<title><%=blocks.title%></title>
	<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootsrtap.css"/>
	<link rel="stylesheet" href="/css/app.css"/>
</head>
</html>